.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  background-color: #028090;
  border: 1px solid #e4fde1;
  border-radius: 6px;
  color: #f45b69;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  background-color: #02afa1;
  border-color: #02afa1;
}
